<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
	<meta name="author" content=""> -->
	
	 <!-- Required meta tags -->
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
	 <!-- Bootstrap CSS -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 
	 <link rel="stylesheet" type="text/css" href="css/style.css">

	 <style>
			body{
				background-color: #fefefe;
			}
 </style>			

    <title>Dalecoin-Cbt Transactions</title>

    
	<!-- jquery -->
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	

	<link href="css/pagination.css" media="all" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="js/pagination.js"></script>
    
    
		
	<script type="text/javaScript">
	
		$(document).ready(function(){
		
			$.getJSON("/users", function(data){ 
				
				var displayData ="<table class='table table-striped table-hover '>";
				displayData += "<thead><tr class='warning'><th>Id</th><th>Student ID</th><th align=>In Amount</th><th>Out Amount</th><th>Balance</th><th>Token Address</th><th>Transaction Hash</th></tr></thead><tbody>";
				$.each(data, function(i,results){ 			
				
					results.id = (results.id) ? results.id :"";
					results.student_id = (results.student_id) ? results.student_id :"";
					results.in_amount = (results.in_amount) ? results.in_amount :"";
					results.out_amount = (results.out_amount) ? results.out_amount :"";
					results.balance = (results.balance) ? results.balance :"";
					results.ethereum_address = (results.ethereum_address) ? results.ethereum_address :"";
					results.transaction_hash = (results.transaction_hash) ? results.transaction_hash :"";
					
					displayData += "<tr><td>"+results.id+"</td><td  align='center'>"+results.student_id+"</td><td align='center'>"+results.in_amount+"</td><td align='center'>"+results.out_amount+"</td><td align='center'>"+results.balance+"</td><td align='center'>"+results.ethereum_address+"</td><td align='center'>"+results.transaction_hash+"</td></tr>"; 
				
					
				}); 
				displayData +="</tbody></table>";
				$('#table_data').html(displayData);	
				
				//Pagination Init
				$('#table_data').tablePaginate({navigateType:'navigator'});
			}); 
		});
	</script>
	
  </head>

  <body >

		<nav class="navbar navbar-light bg-light">
				<a class="navbar-brand" href="/">DaleQuiz Admin Page</a>
				<a class="navbar-brand" href="/transactions">User Transactions</a>
			</nav>

	<div id="wholePage" class="container">

		<table width=100% border=1 class="table table-hover" id="table_data">
			</table>
	</div>

<div></div>
  </body>
</html>
