<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<style>
body{
	background-color: #fefefe;
}

#set_staking,#actions,#holdings,#table_container{
	margin-top: 20px;
}
#buyEthers,#sellEthers{
	margin-left: 10px;
	margin-right: 10px;
}
#transferAmount{
	margin-top:.75rem;
}
.margin-up{
margin-bottom: .75rem;
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
</style>
<body>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="index.html">DaleQuiz Admin Page</a>
        <a class="navbar-brand" href="/transactions">User Transactions</a>
    </nav>


    <div id="wholePage" class="container">

        <div id="set_staking" class="row">
           

            <div class="col-sm-6">
                    <div class="card">
                    <div class="card-header">Change Receiving Account Address</div>
                    <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Enter New Receiving Account Address</h6>
                    <p class="col-md-6 card-text"><span id="presentReceivingAccount"></span></p>
                    <div class="row">
                            <input type="text" class="col-md-6 form-control" id="accountAddress" placeholder="Address">
                             <button type="button" class="col-md-3 btn btn-outline-success" onclick="changeReceivingAddress()">Change</button>
                            <p class="col-md-3 card-text"><span id="status"></span></p>
                          </div>
                    </div>
                    </div>
                    </div>
     
       </div>

      <div id="checkUser" class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Set Gift Prizes</div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Enter Position & Price</h6>
                    <p class="col-md-6 card-text"><span id="inputStatus"></span></p>
                    <div class="row">
                            <input type="number" class="col-md-6 form-control" id="positionPlace" placeholder="Positions (1 , 2 , 3, 4)">
                        <input type="text" class="col-md-6 form-control" id="rewardToken" placeholder="Reward">
                        <button type="button" class="col-md-3 btn btn-outline-success" onclick="setReward()">Change</button>
                       </div>
                </div>
            </div>
        </div>
        
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/app.js"></script>
    <script src="js/rewards.js"></script>
    
</body>

</html>
